@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 
<div class="bg-dark bg-gradient text-white">
    <p class="text-center">You succesfully paid your order.</p>
    <p class="text-center">Download this form to attach it as a proof when you go to take your vehicle from the location. <a class="btn btn-success" href="/ShoppingCarts/ExportOrder">Download</a></p>
</div>
        
